/* Navbar */
html, body {
    margin: 0;
    padding: 0;
}

.topLinks {
    display: flex;
    gap: 10px;
    margin-left: auto;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 20px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    margin: 15px 10px;
    color: white;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: black;
}

/* Body */

.bdy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(welding.jpg);
    padding: 90px;
}

.shopbtn {
    display: block;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.body-info {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
}

