/* Navbar */

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.background {
    background-color: #d1cfc8;
}

html, body {
    margin: 0;
    padding: 0;
}

p {
    font-weight: 800;
}

#toplinks {
    display: flex;
    gap: 10px;
    margin-left: auto;
    list-style: none;
}

  li:hover {
    transform: scale(1.5);
}

a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    display: flex;
    margin: 15px 10px;
    color: black;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #d1cfc8;
}

/* Body */

.bdy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(welding3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 90px;
}

#shopbtn {
    display: block;
    text-align: center;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-weight: bolder;
    background-color: white;
    border-style: none;
}

.body-info {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bolder;
}

/* Content */

h2 {
    font-size: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-info {
    display: flex;
    align-items: center;
    margin: 10px;
}

.content-info img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    margin: 5px 30px 5px 30px;
}

img:hover {
    transform: scale(1.5);
}

.pic {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}

/* Bottom Link */

h3 {
    font-size: 20px;
    font-weight: bolder;
}


.face-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}


.fb-final {
    display: block;
    background: url(http://www.facebook.com/marketplace/item/1219665345552686/?hoisted=false&ref=search&referral_code=null&referral_story_type=post&tracking=browse_serp%3A6c50667a-4e0c-4b5c-988a-a2a2922b3357);
    border-style: none;
    height: 50px;
    width: 150px;
    margin-top: 30px;
    background-color: black;
    border-radius: 15px;
    color: white;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 50px;
    font-size: 10px;
}

.fb-final:hover {
    background-color: #5783db;
}
