/* Navbar */

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

html, body {
    margin: 0;
    padding: 0;
}


div {
    width: 100vw;
    height: 100vh;
}


.background {
    background-color: #d1cfc8;
}

#toplinks  {
    display: flex;
    gap: 10px;
    margin-left: auto;
    list-style: none;
}

p {
    font-weight: 800;
}

li:hover {
    transform: scale(1.5);
}

a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    display: flex;
    margin: 15px 10px;
    color: black;
    margin-left: 15px;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: center;
}

/* Body Content */

h2 {
    margin-left: 15px;
    margin-top: 95px;
    font-size: 30px;
}

.para {
    margin-left: 15px;
    margin-top: 30px;
    font-size: 20px;
}

.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact {
    height: 50px;
    width: 250px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: white;
}

button:hover{
    background-color: #5783db;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 50px;
    font-size: 10px;
    background-color: #d1cfc8;
    margin-top: 20px;
}
